.usersPage{
    padding-top: 30px;
    .button {
        background-color: #35b7fc;
    }
    .usersList{
        margin-top: 30px;
        .usersListTitle{
            display: flex;
            justify-content: space-between;
            height: 30px;
            border-bottom: 2px solid #000000;
            span, div{
                font-size: 18px;
                width: 13.3%;
                text-align: center;
                font-weight: 500;
            }
            div{
                width: 20%;
            }
            .email,.phone{
                width: 20%;
            }
        }
    }

}
@media only screen and (max-width: 760px) {
    .usersList{
        .usersListTitle{
            span, div{
                font-size: 14px;
                white-space: nowrap;
                text-overflow: clip;
                overflow: hidden;
            }
        }
    }
}