.editUserBlock{
    width: 100%;
    .dataInput{
        display: flex;
        justify-content: start;
        margin: 0 auto;
        .partner{
            display: flex;
            justify-content: baseline;
            line-height: 80px;
        }
    }
    .dataInput>div{
        width: 16.6%;
    }
    .cancelButton{
        margin-left: 30px;
        background-color: #039be5;
    }
    .saveButton {
        background-color: #039be5;
    }
    .error{
        color: red;
        padding: 0.75rem 0.75rem;
    }
}
.errorField{
    input{
        border-bottom: 2px dashed #cf0000 !important;
        outline: none;
    }
    input:focus{
        border-bottom: 2px dashed #cf0000 !important;
        outline: none;
    }
}