.docContainer{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px; 
    box-sizing: content-box;
        menu{
            margin: 0;
            position: fixed;
            top: 100px;
            left: 0;
            right: 0;
            bottom:0;
            height: 100%;
            overflow: hidden;
            border-left: 2px solid rgba(175, 180, 183, 0.2);
            background-color: #f5f7f9;
            ul{
                position: fixed;
                margin-top: 40px;
                color: #35b7fc;
                a{
                    text-decoration: none;
                }
                .activeLink{
                    text-decoration: none;
                    li{
                        border-left: 3px solid #35b7fc;
                        color: #35b7fc;
                    }
                }
                li{
                    font-family:Gotham-Book;
                    font-weight: 500;
                    margin-top: 20px;
                    padding-left: 30px;
                    font-weight: 500;
                    color: #404040;
                }   
            }        
        }
        .dockBlock{
            padding: 20px 40px 20px 40px;
            .oneDocItem{
                font-family:Gotham-Book;
                font-size: 16px;
                font-weight: 400;
                margin-right: 60px;
                .docTitle{
                    font-family: DINNextLTPro-Regular;
                }
                .tableName{
                    text-transform: uppercase;
                    color: #35b7fc;
                    font-family:Gotham-Medium;
                    font-weight: 700;
                }
                p{
                    font-family:Gotham-Book;
                    font-weight: 400;
                }
            }
        }
}

// =====================================================================================================
@media only screen and (max-width: 1600px) {
    .docContainer{
        menu{
                top: 45px;
                padding-top: 80px;
                ul{
                    margin-top: 0px;
                    li{
                        margin-top: 15px;
                        padding-left: 25px;
                    }   
                }        
            }
            .dockBlock{
                padding: 0px 40px 20px 20px;
                .oneDocItem{
                    margin: 40px;
                    .docTitle{
                        font-size: 31px;
                    }
                }
            }
    }
}
@media only screen and (min-width: 760px) {
    menu{
        padding-top: 40px;
        /*li{
            width: 150px;
        }*/
    }
    .subMenu{
        display: none;
    }
}    
@media only screen and (max-width: 768px) {
    .docContainer{
        .subMenu{
            display: inline-block;
            height: 30px;
            padding: 3px 5px 3px 5px;
            background-color: #35b7fc;
            transform: rotate(90deg);
            position: fixed;
            top: 190px;
            white-space: nowrap;
            z-index: 90;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #ffffff;
            border: 1px solid #CDCDCD;
            cursor: pointer;
            transition: all 1s;
        } 
        .subMenu:hover{
            background-color: #1482bc;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }  
            menu{
                z-index: 90;
                top:45px;
                width: 195px;
                ul{
                    .activeLink{
                        text-decoration: none;
                        li{
                            padding-left: 10px;
                            border-left: 3px solid #35b7fc;
                            color: #35b7fc;
                        }
                    }
                    li{
                        margin-top: 7px;
                        padding-left: 5px;
                        white-space: normal;
                    }   
                }  
            }
            .dockBlock{
                padding: 0px 40px 20px 45px;
                .oneDocItem{
                    margin-right: 60px;
                }
            }
    }
}