.accountPage{
    margin: 50px;
}
.userEditInfo{
    height: 300px;
    div{
        span{
            display: none;
        }
        div{
            margin-top: 20px;
            display: block;
        }
        .btn-save{
            display: block;
        }
    }
}
.userInfo{
    div{
        span{
            display: block;
        }
        div{
            display: none;
        }
        .btn-save{
            display: none;
        }
    }
}

.deleteBtn {
    display: inline-block;
    padding-left: 10px;
}