.editKeycodeBlock{
    width: 100%;
    .dataInput{
        display: flex;
        justify-content: start;
        margin: 0 auto;
        .keycodeInput{
            width: 25%;
        }
        .datePicker{
            margin-top: 15px;
            text-align: center;
        }
    }
    .dataInput>div{
        width: 20%;
    }
    .cancelButton{
        margin-left: 30px;
        background-color: #35b7fc;
    }
    .saveButton{
        background-color: #35b7fc;;
    }
    .error{
        color: red;
        padding: 0.75rem 0.75rem;
    }
}

:global {
    .react-autosuggest__suggestions-container--open {
        display: block;
        position: absolute;
        top: 51px;
        width: 280px;
        border: 1px solid #aaa;
        background-color: #fff;
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        font-size: 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 2;
        max-height: 140px;
        overflow-y:scroll;
    }
    
    .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .react-autosuggest__suggestion {
        cursor: pointer;
        padding: 10px 20px;
    }
    
    .react-autosuggest__suggestion--highlighted {
        background-color: #ddd;
    }
}
