.keycodesPage{
    padding-top: 30px;
    .editButton {
      background-color: #35b7fc;
    }
    .usersList{
        margin-top: 30px;
        .usersListTitle{
            display: flex;
            justify-content: space-between;
            height: 30px;
            border-bottom: 2px solid #000000;
            span, div{
                font-size: 18px;
                width: 15%;
                text-align: center;
                font-weight: 500;
                white-space: nowrap;
                text-overflow: clip;
                overflow: hidden;
            }
            div{
                width: 20%;
            }
            .keycode{
                width: 25%;
            }
        }
    }
}
