
.userItem{
    display: flex;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px solid #000000;
    margin-top: 5px;
    span, div{
        line-height: 35px;
        font-size: 16px;
        width: 13.3%;
        text-align: center;
        white-space: nowrap;
        text-overflow: clip;
        overflow: hidden;
    }
    div{
        width: 20%;
        line-height: 28px;
        cursor: pointer;
        div{
            color: #000000;
            display: inline-block;
            padding: 0;
            margin-right: 10px;
            font-size: 12px;
            border-radius: 5px;
            min-width: 40px;
        }
    }
    .email,.phone{
        width: 20%;
    }
    .delete{
        border: 2px solid pink;
    }
    .edit{
        border: 2px solid black;
    }
    .resetPwd{
        border: 2px solid green;
    }
}