.container {
    width: 400px;
    border: 2px solid rgba(171, 171, 171, 0.2);
    border-radius: 6px;
    min-height: 455px;
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        >div {
            padding-bottom: 10px;
        }
        .title {
            font-size: 20px;
            font-weight: 900;
        }
        .price {
            font-size: 26px;
            color:#35b7fc;
        }

        button{
            margin: 10px;
            width: 150px;
            height: 50px;
            cursor: pointer;
            text-align: center;
            border-radius: 6px;
            line-height: 50px;
            font-weight: 500;
            color: #FFFFFF;
            font-family:Gotham-Medium;
            background-color: #35b7fc;
            margin-bottom: 25px;
        }
    }

    .footer {
        padding-left: 20px;
        padding-bottom: 40px;
        .icon {
            color: #35b7fc;
            padding-right: 10px;
        }
        >div {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
    }

}