.title{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    border-bottom: 2px solid #e1e5e8;
    span{
        float: right;
        margin-right: 20px;
        font-family: Gotham-Book;
        font-size: 14px;
        color: #35b7fc;
        
        .close{
            float: left;
            cursor: pointer;
            img{
                width: 15px;
                height: 15px;
            }
        } 
    }
}

.startedInfoItem{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    img{
        width: 60px;
        height: 60px;
    }
    div{
        margin: auto 0;
        width: 60%;
        font-weight: 400;
        span{
            font-family: Gotham-Book;
            font-size: 18px;
            color: #35b7fc;
            
        }
        p{
            font-size: 12px;
            font-family: "Gotham-Book";
        }
    }
    a{
        color: #35b7fc;
        font-family: Gotham-Book;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        margin: auto 0;
        text-align: right;
        margin-right: 10px;
        width: 22%;
    }
}

.activationCount{
    border-bottom: 2px solid #e1e5e8;
    font-family: DINNextLTPro-Regular;
    font-weight: 300;
    span{
        font-weight: 400;
        color: #35b7fc;
        font-size: 36px;
    }
}

.activationCount+div{
    font-family: DINNextLTPro-Regular;
    font-weight: 300;
    span{
        font-weight: 400;
        color: #35b7fc;
        font-size: 36px;
    }
}

.activationSummary{
    padding: 15px;
    border-radius: 6px;
    background-color: #f3f5f8;
    p{
        font-family:Gotham-Book;
        font-weight: 400;
        strong{
            font-family:Gotham-Medium;
            font-weight: 500;
        }
    }
}

.blueBtn{
    margin: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    line-height: 50px;
    font-weight: 500;
    color: #FFFFFF;
    font-family:Gotham-Medium;
    font-weight: 500;
    background-color: #35b7fc;
}

@media only screen and (min-width: 1920px) {
    .title{
        height: 130px;
        line-height: 130px;
        span{
            float: right;
            margin-right: 15px;
            margin-bottom: 15px;
            font-family: Gotham-Book;
            font-size: 20px;
            color: #35b7fc;
            .close{
                img{
                    width: 15px;
                    height: 15px;;
                }
            } 
        }
    }

    .activationCount{
        border-bottom: 2px solid #e1e5e8;
        font-family: DINNextLTPro-Regular;
        font-weight: 300;
        font-size: 28px;
        span{
            font-weight: 400;
            font-size: 60px;
            color: #35b7fc;
        }
    }
    .activationCount+div{
        font-family: DINNextLTPro-Regular;
        font-weight: 300;
        font-size: 28px;
        span{
            font-weight: 400;
            color: #35b7fc;
            font-size: 60px;
        }
    }
    .activationSummary{
        padding: 15px;
        border-radius: 6px;
        background-color: #f3f5f8;
        p{
            font-family:Gotham-Book;
            font-weight: 400;
            font-size: 22px;
            strong{
                font-family:Gotham-Medium;
                font-weight: 500;
            }
            a{
                font-size: 20px;
                text-decoration: none;
                margin-left: 20px;
                color: #35b7fc;

            }
        }
    }
    .blueBtn{
        margin: 10px;
        width: 274px;
        height: 50px;
        font-family:Gotham-Medium;
        font-weight: 500;
        background-color: #35b7fc;
        font-size: 24px;
    }

    .startedInfoItem{
        height: 120px;
        img{
            margin-top:30px;
            width: 60px;
            height: 60px;
        }
        div{
            margin: auto 0;
            width: 60%;
            span{
                font-family: DINNextLTPro-Regular;
                font-weight: 400;
                font-size: 34px;
                color: #35b7fc;

            }
            p{
                font-family: "Gotham-Book";
                font-size: 24px;
            }
        }
        a{
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .title{
        height: 50px;
        line-height: 50px;
        span{
            font-size: 14px;
            margin-right: 10px;
            .close{
                padding-right: 0px;
                img{
                    width: 10px;
                    height: 10px;
                }
                
            }
        }
    }
    .activationCount{
        span{
            font-size: 24px;
        }
    }
    .activationCount+div{
        span{
            color: #35b7fc;
            font-size: 24px;
        }
    }
    .activationSummary{
        padding: 10px;
    }
}
.dontshow{
    margin-left: 5px;
}

@media only screen and (max-width: 920px) {
    .title{
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        border-bottom: 2px solid #e1e5e8;
        span>.close+span{
            display: none;
        }
    }
    .startedInfoItem{
        img{
            padding: 5px;
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .dontshow{
        display: none;
    }
}