.container {
    width: 200px;
    >div {
        background-color: #35b7fc;
        height: 150px;
        width: 150px;
        margin: 10px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        img {
            align-self: center;
            height: 70px;
        }
    }
}