// .dashboardPage{
//     padding-top:40px;
//     >p {
//         margin-bottom: 5px;
//     }
// }

// @media only screen and (min-width: 1920px) {    
//     .dashboardPage{
//         padding-top:120px;
//     }
// }
// @media only screen and (max-width: 1600px) {
//     .dashboardPage{
//         padding-top: 20px;
//     }
// }